
  <% include partials/header %> <!-- Include header partial for consistent head section -->
  <% include partials/main_nav %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <% include partials/footer %>